*{
box-sizing:border-box;
}

body{

margin:0;
padding:0;

background:#0f172a;

font-family:Arial;

color:white;

text-align:center;

}

header{

background:#020617;

padding:20px;

}

.logo{

width:120px;

}

.menu button{

margin:8px;

padding:12px;

width:90%;
max-width:300px;

background:#1e293b;

color:white;

border:none;

border-radius:8px;

}

.card{

background:#1e293b;

margin:20px;

padding:20px;

border-radius:10px;

}
